:root {
  --white: #FFF;
  --background: #070724;
  --darkgray: #38384F;
  --lightgray: #838391;
  --mercblue: #419EBB;
  --venusorange: #EDA249;
  --earthpurple: #6F2ED6;
  --marsred: #D14C32;
  --jupiterred: #D83A34;
  --saturnorange: #CD5120;
  --uranusblue: #1EC2A4;
  --neptuneblue: #2D68F0;
  --antonio: 'Antonio', sans-serif;
  --spartan: 'Spartan', sans-serif;
  --spartanP: 'Spartan', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: url('/assets/background-stars.svg');
    background-color: var(--background);
    color: var(--white);
}




/* NAV STYLES */



.nav-container {
    width: 100%;
    border-bottom: 1px solid var(--lightgray);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: var(--antonio);
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: var(--white);
    text-decoration: none;
    font-family: var(--spartan);
    padding: 10px;
    font-size: 12px;
    letter-spacing: 2.6px;
}

.nav-links:hover {
    text-decoration: underline;
    transition: all 0,2 ease-in-out;
}

.fa-circle {
    display: hidden;
}

.chevron {
    display: none;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }


    .nav-links:hover {
        color:var(--white); 
    }

    .navbar {
        width: 100%;
    }

    .chevron {
        display: grid;
        grid-template-columns: 0.1%;
        
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translateX(-15px);
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* OVERVIEW CONTENT */

.o-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 10px;
    height: 500px;
}

.content {
    padding:10px;
}

.planet-name {
    font-family: var(--antonio);
    font-size: 50px;
    line-height: 103px;
    margin: 10px;
    letter-spacing: 1.5px;
}

.content-info {
    font-family: var(--spartanP);
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
}

.source-info {
    font-family: var(--spartanP);
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
    opacity: .5;

}

.source-info a {
    color: var(--white);
    font-weight: bold;
}

.source-icon {
    margin-left: 5px;
}